.main {
  background-color: #fff;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lang {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
  }
  .title {
    padding: 20px;
  }
  .analyzing {
    font-weight: 600;
  }
  .ready {
    font-size: 30px;
    font-weight: 600;
  }
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 50px;
      margin-left: 3rem;
    }
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title_loading {
    h1,
    p {
      font-size: 18px;
    }
    float: right;
    margin-top: 2rem;
  }
  .wrapper_drag_drop {
    .drag_drop {
      width: 738px;
      margin: 3rem auto;
      height: 400px;
      border-radius: 49px;
      background: #ebeff2;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
    }
    .wrapper_btn {
      width: 700px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn_start {
        padding: 1rem 2rem;
        border-radius: 49px;
        background: #39374c;
        color: white;
        cursor: pointer;
      }
      .select_type {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
